<% breadcrumb :eventsDetail %>
<div class="row">
  <div class="columns medium-12">

    <% @eventDescription.each do |desc| %>
    <h1><%= desc.title %></h1>
    <p><%= simple_format(desc.description) %></p>
    <% end %>

  </div>
</div>
