// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cassette{
  height: 250px;
}
.cols-title {
  height: 20%;
}
.cols {
  height: 80%;
}
.col-image {
  float: left;
  height: 70%;
  width: 20%;
  *clear: right;
  margin: 2%;
}
.col-text {
  height: 70%;
}
.col-button {
  float: bottom;
  height: 30%;
  float: right;
}
.text-row{
  font-size: 15px;
  height: 30px;
}
