<!DOCTYPE html>
<html>
<head>
  <title>Lovin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="columns medium-12">
      <div class="header">
        <h1>ヘッダー</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-12">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li><a href="/">HOME</a></li>
            <li><a href="#">問い合わせ</a></li>
            <li><a href="#">ログイン</a></li>
          </ul>
          <!-- Left Nav Section -->
        </section>
      </nav>
    </div>
  </div>
<%= yield %>
<div class="row">
  <div class="columns medium-12">
    フッター
  </div>
</div>
<script>
$(document).foundation();
</script>

</body>
</html>
